<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semaforo</title>
</head>
<body>
    <form action="/action_page.php">
        <label for="fname">Durata verde:</label><br>
        <input type="number" id="verde" name="fname" ><br>
        <label for="lname">Durata giallo</label><br>
        <input type="number" id="giello" name="lname" ><br><br>
        <label for="fname">Durata rosso</label><br>
        <input type="number" id="rosso" name="fname" ><br>
        <button type="submit" class="btn" id="on" value="1">Spegni/Accendi</button>
      </form> 
</body>
</html>